VITE_USED_MARKET_CONTRACT_ADDRESS=0x0000000000000000000000000000000000000000
VITE_SEPOLIA_CHAIN_ID=0xaa36a7
VITE_CONTRACT_DEPLOY_BLOCK=0
VITE_SEPOLIA_READ_RPC_URL=https://ethereum-sepolia-rpc.publicnode.com